@model SingleProduct

<div class="container">
    <h1>Shipping Details</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.UserImage" width="500px" height="500px"/>
            <h1>@Model.UserFullname</h1>
            <h1>@Model.UserComment</h1>
            <h1>@Model.CommentCount</h1>
            <h1>@Model.AboutReturnInfo</h1>
            <h1>@Model.GuaranteeInfo</h1>
            <h1>@Model.ShippingInfo</h1>
        </div>
    </div>
</div>