@model List<SingleProduct>
@{
    int count = 1;
}
<div class="container">
    <div class="d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-outline-success mx-2 my-2">Create</a>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Information</th>
                    <th scope="col">ShippingInfo</th>
                    <th scope="col">AboutReturnInfo</th>
                    <th scope="col">GuaranteeInfo</th>
                    <th scope="col">CommentCount</th>
                    <th scope="col">UserFullname</th>
                    <th scope="col">UserComment</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var singleProduct in Model)
                {
                    <tr>
                        <td scope="col">@(count++)</td>
                        <td scope="col">@singleProduct.Information</td>
                        <td scope="col">@singleProduct.ShippingInfo</td>
                        <td scope="col">@singleProduct.AboutReturnInfo</td>
                        <td scope="col">@singleProduct.GuaranteeInfo</td>
                        <td scope="col">@singleProduct.CommentCount</td>
                        <td scope="col">@singleProduct.UserFullname</td>
                        <td scope="col">@singleProduct.UserComment</td>
                        <td scope="col">
                            <img src="~/images/@singleProduct.UserImage" style="border-radius:20%" />
                        </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@singleProduct.Id" class="btn btn-outline-warning">Update</a>
                            <a asp-action="Details" asp-route-id="@singleProduct.Id" class="btn btn-outline-info">Details</a>

                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal@(count)">
                                Delete
                            </button>

                            <div class="modal fade" id="exampleModal@(count)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Slider</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Shipping will be deleted.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                                            <form style="display:inline-block" asp-action="Delete" method="post">
                                                <input type="submit" asp-action="Delete" asp-route-id="@singleProduct.Id" class="btn btn-outline-danger" value="Yes">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
