@model HomeProduct

<div class="container">
    <h1>HomeProduct Details</h1>
    <div class="row">
        <div>
            <img src="~/images/@Model.Image" width="500px" height="500px"/>
            <h1>@Model.Name</h1>
            <h1>@Model.Price</h1>
            <h1>@Model.Rating</h1>
            <h1>@Model.HoverImage</h1>
            <h1>@Model.Image</h1>
        </div>
    </div>
</div>
